/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #F8EDED;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #173B45;
  padding: 20px;
  color: white;
}

.App-link {
  color: #FF8225;
}

main {
  padding: 20px;
}

h2 {
  color: #B43F3F;
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 40px !important;
}

h1 {
  font-size: 40px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
