bcc==0.1.10
beautifulsoup4==4.12.3
blinker==1.7.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.6
colorama==0.4.6
cryptography==41.0.7
cssselect==1.2.0
distro==1.9.0
dnspython==2.6.1
Flask==3.0.3
html5lib==1.1
httplib2==0.20.4
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lxml==5.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
netaddr==0.8.0
netifaces==0.11.0
numpy==1.26.4
oauthlib==3.2.2
olefile==0.46
packaging==24.0
pexpect==4.9.0
pillow==10.2.0
psutil==5.9.8
ptyprocess==0.7.0
pycairo==1.25.1
pycparser==2.22
pydbus==0.6.0
Pygments==2.17.2
PyJWT==2.7.0
pyparsing==3.1.1
python-dateutil==2.8.2
pyxdg==0.28
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
scour==0.38.2
setuptools==68.1.2
six==1.16.0
soupsieve==2.5
traitlets==5.14.3
traittypes==0.2.1
typing_extensions==4.10.0
urllib3==2.0.7
wadllib==1.3.6
webencodings==0.5.1
Werkzeug==3.0.3
wheel==0.42.0
xdg==5.0.0
xlrd==2.0.1
